body {
    background-color: #1f1f1f;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;   
}

em {
    color: #e07a05;   
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background: #627da0;
}

.greenBox {
     background: #5b8054;  
}