body {
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 1000px;
}

h1 {
    font-weight: normal;   
}

em {
    color: #e07a05;   
}

.box {
    background: #627da0;
    width: 100px;
    height: 100px;
}

.blueBox {

}
.container {

}