<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>composing with components</title>
    <style>
        h1 {
            margin-top: 30px
        }
    </style>
</head>
<body>
<div id="app-7">
    <h1>Using components</h1>
    <ol>
        <!--
          이제 각 todo-item 에 todo 객체를 제공합니다.
          화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다.
          또한 각 구성 요소에 "키"를 제공해야합니다 (나중에 설명 됨).
         -->
        <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
        </todo-item>
        <todo-item2
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
        </todo-item2>
    </ol>
</div>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<script>
    // 아래 Vue.component 구문과 const 구문의 순서가 바뀌면 제대로 작동하지 않는다.
    Vue.component('todo-item', {
        // 이제 todo-item 컴포넌트는 "prop" 이라고 하는 사용자 정의 속성 같은 것을 입력받을 수 있습니다.
        // 이 prop은 todo라는 이름으로 정의했습니다.
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });

    const $ = document.querySelector.bind(document),
        $$ = document.querySelectorAll.bind(document),
        app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                ]
            }
        })
    ;

    Vue.component('todo-item2', {
        // 이제 todo-item 컴포넌트는 "prop" 이라고 하는 사용자 정의 속성 같은 것을 입력받을 수 있습니다.
        // 이 prop은 todo라는 이름으로 정의했습니다.
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });


</script>
</body>
</html>