body{
    margin: 0;
    padding: 0;
    font-family: '맑은 고딕', 'Apple SD Gothic Neo', 'sans-serif';
}
/* 사이트 이름 -------------------------------------------- */
.site h1 a{
    color: #000000;
    text-decoration: none;
}
.site h1{
    margin: 0;
    font-size: 30px;
}

/* 네비게이션 -------------------------------------------- */
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul:after{
    content: "";
    display: block;
    clear: both;
}

.menu ul li{
    float: left;
    width: auto;
}
.menu ul li a{
    display: block;
    padding: 10px;
    color: #000000;
    font-size: 14px;
    /*line-height: 14px; *//* line-height를 줘야 정확한 폰트의 싸이즈를 알 수 있다 */
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: #eeeeee;
}

/* 기사 -------------------------------------------- */
.story h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 36px;
}
.story p{
    margin-top: 0;
    margin-bottom: 20px;
}


/* 우측메뉴 -------------------------------------------- */
    /* 사이드메뉴 -------------------------------------------- */
    .sidemenu{
        margin-bottom: 30px;
    }
    .sidemenu h1{
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 2px dotted #dddddd;
        color: #666666;
        font-size: 18px;
    }
    .sidemenu ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .sidemenu ul li a{
        display: block;
        padding: 5px;
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
    .sidemenu ul li a:hover{
        background-color: #eeeeee;
    }

    /* 추천메뉴 -------------------------------------------- */
    .recommend{
        margin-bottom: 30px;
    }
    .recommend h1{
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 2px dotted #dddddd;
        color: #666666;
        font-size: 18px;
    }
    .recommend ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .recommend ul li a{
        display: block;
        padding: 5px;
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
    .recommend ul li a:hover{
        background-color: #eeeeee;
    }

    /* 인기메뉴 -------------------------------------------- */
    .popular h1{
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: 2px dotted #dddddd;
        color: #666666;
        font-size: 18px;
    }
    .popular ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .popular ul li a{
        display: block;
        padding: 5px;
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
    .popular ul li a:hover{
        background-color: #eeeeee;
    }

/* 우측메뉴 끝 -------------------------------------------- */


/* 저작권 -------------------------------------------- */
.copyright p{
    margin-top: 0px;
    color: #666;
    font-style: 14px;
}


@media (min-width: 768px){
    .boxA:after{
        content: "";
        display: block;
        clear: both;
    }
    .box3{
        float: left;
        width: 70%;
    }
    .box4{
        float: left;
        width: 30%;
    }
}

