<!doctype html>
<html>
<head>
    <title>Meadowlark 여행사</title>
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="Meadowlark Travel Logo"/>
    </header>
    {{{body}}}
</body>
</html>