body {
    background-color: #1f1f1f;
    height: 1000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;   
}

em {
    color: #e07f07;
}

.box {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.boxBlue {
    background: #627da0;  
}

